<header>
    <div class="container" style="width: 80%">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="">
                <a <%if(!self.req.authorized) { %>
                    href="/" <% } else { %> href="/dashboard" <% } %>>
                    <img src="../assets/images/logo.svg" width="40" height="42" />
                </a>
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <%if(!self.req.authorized) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <% } else { %> <% if(urlHouseholdId) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard?hid=<%=urlHouseholdId%>">Dashboard</a>
                    </li>
                    <% } else {%>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <% } %> <% } %> <% if(urlHouseholdId) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/payments?hid=<%=urlHouseholdId%>">Payments</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/recurringPayments?hid=<%=urlHouseholdId%>"
                            >Recurring payments</a
                        >
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/moneypools?hid=<%=urlHouseholdId%>"
                            >Moneypools</a
                        >
                    </li>
                    <% if(isOwner == true) {%>
                    <li class="nav-item active">
                        <a class="nav-link" href="/members?hid=<%=urlHouseholdId%>">Members</a>
                    </li>
                    <% }%> <% } %>
                </ul>

                <%if(!self.req.authorized) { %>
                <div class="row">
                    <div class="col-sm">
                        <button
                            class="btn btn-sm btn-primary btn-block"
                            onclick="window.location.href = '/login';"
                        >
                            Login
                        </button>
                    </div>
                    <div class="col-sm">
                        <button
                            class="btn btn-sm btn-primary btn-block"
                            onclick="window.location.href = '/register';"
                        >
                            Register
                        </button>
                    </div>
                </div>
                <% } else { %>
                <div>
                    <button class="btn btn-sm btn-primary btn-block" onclick="logout();">
                        Logout
                    </button>
                </div>
                <% } %>
            </div>
        </nav>
    </div>
    <div style="width: 100%; height: 0.5%" class="bg-primary"></div>
    <script>
        function logout() {
            document.cookie = 'planbook_auth_jwt' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            window.location.href = '/login';
        }
    </script>
</header>
