<html>
    <head>
        <title><%=title%></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
        />
        <% for (let index = 0; index < self.cssFiles.length; index++) { %>
        <link
            rel="stylesheet"
            type="text/css"
            href="/assets/css/<%=self.cssFiles[index]+(cfg.minify === true ? '.min' : '')%>.css"
        />
        <% } %>

        <style>
            .body {
                width: 80%;
            }
            @media screen and (min-width: 1500px) {
                .body {
                    width: 70%;
                }
            }
        </style>
    </head>

    <body class="bg-dark">
        <%-include('./header.html.ejs');-%>
        <div class="pt-4 text-primary mx-auto body">
            <div id="alertPlaceholder" class="mx-auto" style="max-width: 50em"></div>
            <%-body%>
        </div>
        <% for (let index = 0; index < self.jsFiles.length; index++) { %>
        <script src="/assets/js/<%=self.jsFiles[index]+(cfg.minify === true ? '.min' : '')%>.js"></script>
        <% } %>
        <script src="/assets/js/jquery.slim.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
