<html>
    <head>
        <title><%=title%></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% for (let index = 0; index < self.cssFiles.length; index++) { %>
        <link
            rel="stylesheet"
            type="text/css"
            href="/assets/css/<%-self.cssFiles[index]%>.css"
        />
        <% } %>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            window.io = io.connect();
        </script>

        <style>
            #menu-toggle:checked + #menu {
                display: block;
            }
        </style>
    </head>

    <body class="bg-dark">
        <%-include('./header.html.ejs');-%>
        <div class="container pt-4 text-primary">
            <%-body%> <%if(self.req.user) { %>
        </div>
        <script>
            let currentUserId = <%-self.req.user.id%>;
        </script>
        <% } %> <% for (let index = 0; index < self.jsFiles.length; index++) {
        %>
        <script src="/assets/js/<%-self.jsFiles[index]+(cfg.minify === true ? '.min' : '')%>.js"></script>
        <% } %>
        <script src="/assets/js/jquery.slim.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
