<% if(isHouseholdChooser == true){ %>

<div class="container" style="width: 60%">
    <div>
        <%-include('../modals/addHouseholdModal.html.ejs');-%>
        <%-include('../modals/useInviteModal.html.ejs');-%>
    </div>

    <div id="householdList" class="list-group pt-4"></div>
</div>

<% } else{ %>
<div class="mx-auto" style="width: 80%">
    <div class="text-center">
        <span id="householdSaldo"></span>
    </div>
    <div class="pt-4 mx-auto">
        <canvas id="mainChart"></canvas>
    </div>

    <div class="pt-4">
        <a href="/moneypools?hid=<%=household.id%>" class="btn btn-primary"
            >Moneypools</a
        >
        <% if(self.req.user.id == household.ownerId) {%>
        <a href="/members?hid=<%=household.id%>" class="btn btn-primary"
            >Members</a
        ><% } %>
        <a href="/payments?hid=<%=household.id%>" class="btn btn-primary"
            >All payments</a
        >
        <a
            href="/recurringPayments?hid=<%=household.id%>"
            class="btn btn-primary"
            >All recurring payments</a
        >

        <%-include('../modals/addPaymentModal.html.ejs');-%>
        <%-include('../modals/addRecurringPaymentModal.html.ejs');-%>
    </div>
    <div class="pt-4">
        <label>Last payments</label>
        <div class="table-responsive-lg">
            <table
                id="lastPaymentsTable"
                class="table table-hover table-dark bg-dark"
            >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<% } %>
