<% if(isHouseholdChooser == true){ %>

<div class="container" style="width: 60%">
    <div>
        <%-include('../modals/addHouseholdModal.html.ejs');-%>
        <%-include('../modals/useInviteModal.html.ejs');-%>
    </div>

    <div id="householdList" class="list-group pt-4"></div>
</div>

<% } else{ %>
<div class="mx-auto" style="width: 80%">
    <div class="text-center">
        <span id="householdSaldo"></span>
    </div>
    <div class="pt-4 mx-auto">
        <canvas id="mainChart"></canvas>
    </div>

    <div class="pt-4">
        <% if(self.req.user.id == household.ownerId) {%>
        <a href="/members?hid=<%=household.id%>" class="btn btn-primary"
            >Members</a
        ><% } %>
        <a href="/payments?hid=<%=household.id%>" class="btn btn-primary"
            >All payments</a
        >
        <a
            href="/recurringPayments?hid=<%=household.id%>"
            class="btn btn-primary"
            >All recurring payments</a
        >

        <%-include('../modals/addPaymentModal.html.ejs');-%>
        <%-include('../modals/addRecurringPaymentModal.html.ejs');-%>
    </div>
    <div class="pt-4">
        <label>Last payments</label>
        <table class="table table-hover table-dark bg-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < lastPayments.length; i++) { ;%>
                <tr>
                    <th scope="row"><%=lastPayments[i].id%></th>
                    <td><%=lastPayments[i].purpose%></td>
                    <td>
                        <%if(lastPayments[i].value > 0){ %>+<% }
                        %><%=lastPayments[i].value%>€
                    </td>
                </tr>
                <% }; %>
            </tbody>
        </table>
    </div>
</div>
<% } %>
