<div class="pt-4">
    <label>Members</label>
    <div class="table-responsive-lg">
        <table id="membersTable" class="table table-hover table-dark bg-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="pt-4"><%-include('../modals/addInviteModal.html.ejs');-%></div>
    <input id="userId" class="d-none" value="<%=self.req.user.id%>"></input>
    <div class="pt-4">
        <label for="pendingInvitesTable">Pending invites</label>
        <div class="table-responsive-lg">
            <table
                id="pendingInvitesTable"
                class="table table-hover table-dark bg-dark"
            >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Invited email</th>
                        <th scope="col">Valid until</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<%-include('../modals/removeInviteModal.html.ejs');-%>
<%-include('../modals/removeMemberModal.html.ejs');-%>
<%-include('../modals/leaveOwnedHouseholdModal.html.ejs');-%>
