<div class="mx-auto" style="width: 80%">
    <a href="/dashboard?hid=<%=household.id%>" class="btn btn-primary"
        >Go Back</a
    >

    <form class="pt-4 mb-0 form-inline">
        <label class="col-sm-1 form-control-label" for="startDateInput"
            >Start</label
        >
        <!-- startDateInput - defaultValue: first day of the month -->
        <input
            type="date"
            class="form-control mb-2 mr-sm-2"
            id="startDateInput"
            value="<%=new Date(new Date().setDate(new Date().getMonth() - 1))
                .toISOString().slice(0,10)%>"
        />
        <label class="col-sm-1 form-control-label" for="endDateInput"
            >End</label
        >
        <!-- endDateInput - defaultValue: today -->
        <input
            type="date"
            class="form-control mb-2 mr-sm-2"
            id="endDateInput"
            value="<%=new Date().toISOString().slice(0,10)%>"
        />
        <button type="button" class="btn btn-primary" onclick="getPayments()">
            Refresh
        </button>
    </form>

    <div class="pt-4 mx-auto">
        <canvas id="paymentHistoryChart"></canvas>
    </div>

    <div class="pt-4">
        <label>All payments</label>
        <table id="paymentsTable" class="table table-hover table-dark bg-dark">
            <thead>
                <tr>
                    <th
                        scope="col"
                        onclick="sortTable(0, true, 'paymentsTable')"
                    >
                        #
                    </th>
                    <th
                        scope="col"
                        onclick="sortTable(1, false, 'paymentsTable')"
                    >
                        Purpose
                    </th>
                    <th
                        scope="col"
                        onclick="sortTable(2, false,'paymentsTable')"
                    >
                        Category
                    </th>
                    <th
                        scope="col"
                        onclick="sortTable(3, false,'paymentsTable')"
                    >
                        isFromRecurringPayment
                    </th>
                    <th
                        scope="col"
                        onclick="sortTable(4, true, 'paymentsTable')"
                    >
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < payments.length; i++) { ;%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=payments[i].purpose%></td>
                    <td><%=payments[i].category.name%></td>
                    <td>
                        <% if(payments[i].recurringPayment){%>yes<%}else{%>no <%
                        } %>
                    </td>
                    <td>
                        <%if(payments[i].value > 0){ %>+<% }
                        %><%=payments[i].value%>€
                    </td>
                </tr>
                <% } ;%>
            </tbody>
        </table>
    </div>
</div>
<!-- need moment.js for chart.js usage with time x axis -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
